// npx sass --watch --style compressed asset/style.sass style.css
@use 'sass:color'
$u: 75px
$p: #e7504b
$t: 0.25s
$h: 1.1*$u

/* ----- FONTS ----- */
@font-face
    font-family: 'FontAwesome'
    src: url(/asset/fa-solid.ttf) format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'LeagueSpartan'
    src: url(/asset/LeagueSpartan.ttf) format('truetype')
    font-weight: normal
    font-style: normal

/* ----- HTML ELEMENTS ----- */
icon
    font-family: FontAwesome
:focus
    outline: none
*
    box-sizing: border-box
html
    height: 100%
body
    margin: 1.1*$u+$h 0 0 3*$u
    height: calc(100% - 3.7*$u)
    font-family: LeagueSpartan
    color: #fff
    background-color: #111
    overflow: hidden scroll

    &>div
        transition: opacity $t $t
    &::before
        content: ''
        position: fixed
        box-shadow: inset 0 0 0.25*$u #1115
        z-index: -2
    &::after
        content: ''
        position: fixed
        right: 0
        bottom: 0
        width: calc(100% - 3*$u)
        height: calc(100% - $u)
        background-color: #ddd
        z-index: -1
        border-radius: 0.25*$u 0 0 0
        box-shadow: inset 0 0 0.25*$u #0005
        transition: opacity $t $t

/* ----- HEAD ----- */
body::before, #head::after
    content: ''
    left: 0
    top: 0
    width: 100%
    height: 100%
    filter: contrast(170%) brightness(50%)
    opacity: 0.5
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48ZmlsdGVyIGlkPSJub2lzZSIgeD0iMCIgeT0iMCI+PGZlVHVyYnVsZW5jZSB0eXBlPSJmcmFjdGFsTm9pc2UiIGJhc2VGcmVxdWVuY3k9IjAuNjUiIG51bU9jdGF2ZXM9IjMiIHN0aXRjaFRpbGVzPSJzdGl0Y2giLz48ZmVCbGVuZCBpbjI9IlNvdXJjZUdyYXBoaWMiIG1vZGU9InNjcmVlbiIvPjwvZmlsdGVyPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbm9pc2UpIiBvcGFjaXR5PSIwLjUiLz48L3N2Zz4=')
    background-position: 0 0
    background-repeat: repeat
    background-size: 6*$u 6*$u
    background-color:#11111f
    background-attachment: fixed
    
#head
    position: fixed
    right: 0
    top: 0
    width: calc(100% - 3*$u)
    height: $u
    display: grid
    d-template-columns: auto
    //grid-template-columns: 2*$u auto
    grid-template-rows: 1fr 1fr
    z-index: 4
    &::after
        position: absolute
        z-index: -1
    &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background-color: #111
        z-index: -2
    span
        padding: 0 0.25*$u
        line-height: 0.5*$u
    h1
        font-size: 0.5*$u
        text-align: center
        margin: 0
        line-height: $u
    // #head_info0
    //     grid-area: 1 / 1
    // #head_info1
    //     grid-area: 2 / 1
    #head_info0, #head_info1
        display: none
    #head_name
        grid-area: 1 / 1 / span 2
/* ----- SIDE ----- */
#side
    position: fixed
    left: 0
    top: $u
    width: 3*$u
    height: calc(100% - $u)
    display: flex
    flex-direction: column
    grid-area: 2 / 1
    padding: 0.1*$u
    overflow: hidden auto
    z-index: 2
    p
        font-weight: bold
        font-size: 0.3*$u
    button
        font-size: 0.3*$u
        border: 0.01*$u solid #555
        margin: 0 0.1*$u
        background-color: #5550
        color: #aaa
        font-size: 0.25*$u
        line-height: 0.5*$u
        transition: background-color $t
        &+button
            border-top-width: 0
        &:not(.on):hover
            background-color: #5556
        &.on
            background-color: #888
            color: #333
    p+button
        border-radius: 0.1*$u 0.1*$u 0 0
    button:has(+ p), button:last-child
        border-radius: 0 0 0.1*$u 0.1*$u

/* ---- LOGO ----- */
#logo
    position: fixed
    left: 0
    top: 0
    width: 3*$u
    height: $u
    z-index: 3
    transition: $t

/* ---- BODY ----- */
#body
    display: flex
    flex-direction: column
    color: #000
    transition: opacity $t 2*$t
    padding-bottom: $u
    min-height: 100%
    &>table
        margin: 0.2*$u
        width: calc(100% - 0.4*$u)
        tr.empty
            display: none
            td
                text-align: center
        tr.edit
            .noedit
                display: none
        tr:not(.edit)
            .edit
                display: none
    [contenteditable]:focus
        position: relative
        outline: 0.04*$u solid #e00
        z-index: 1
    &>button
        position: sticky
        top: 100%
        margin: 0 0.2*$u
        background: #333
        color: #fff
        font-size: 0.25*$u
        font-weight: bold
        padding: 0.1*$u
        &:before
            content: '+'
        &:active
            background-color: #222
            color: #ccc

/* ----- FIND ----- */
#find
    position: fixed
    top: $u
    right: 0
    width: calc(100% - 3*$u)
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5*$u
    grid-template-rows: 0.6*$u
    padding: 0.25*$u
    padding-bottom: 0.25*$u
    background-color: #eee
    box-shadow: 0 0.1*$u 0.1*$u -0.1*$u #aaa
    border-radius: 0.2*$u 0 0.2*$u 0.2*$u //0.2*$u 0 0.2*$u 0.2*$u
    margin-bottom: 0.1*$u
    color: #555
    z-index: 3
    &>input
        grid-area: 1 / 1 / span 1 / span 5
        height: 0.5*$u
        border: 0.01*$u solid #aaa
        border-radius: 0.1*$u 0.1*$u 0 0
        padding: 0.125*$u
        font-size: 0.25*$u
    &>div
        display: none // flex
        flex-direction: column
        border: 0.01*$u solid #aaa
        //margin: 0 0.1*$u
        input
            width: 0.25*$u
            height: 0.25*$u
            margin: 0.125*$u
        label
            line-height: 0.5*$u
            flex-grow: 1
        &>div
            display: flex
            height: 0.5*$u
            &:not(:first-child)
                margin-left: 0.25*$u
        &+div
            margin-left: 0.1*$u
        &:has(+ button)
            margin-right: 0.1*$u
    #find_orders
        grid-area: 2 / 1
        border-radius: 0 0 0 0.1*$u
    #find_customers
        grid-area: 2 / 2
    #find_items
        grid-area: 2 / 3
    #find_employees
        grid-area: 2 / 4
    #search
        grid-area: 1 / 5
        margin-bottom: 0.1*$u
        border: 0
        background: none
        &::after
            content: '\f002'
            font-family: FontAwesome
            font-size: 0.25*$u
    #new
        grid-area: 2 / 5
        background: #333
        border-radius: 0 0 0.1*$u 0
        color: #fff
        display: none
        &::after
            content: '+'
            font-family: FontAwesome
            font-size: 0.25*$u
        &:not([disabled]):active
            background: #222
            &::after
                color: #aaa
        &[disabled]
            background: none
            color: #555
            border-color: #aaa

/* ----- TABLE ----- */
table
    width: 100%
    border-collapse: collapse
    tr:not(.empty):not(.edit)
        cursor: pointer
        &:hover
            td
                background-color: #ccc
    th
        position: sticky
        top: 0
        background-color: #777
        color: #fff
        z-index: 0
    th, td
        border: 0.01*$u solid #555
        padding: 0.05*$u
        height: 0.3*$u
    td:has(> div)
        padding: 0
    td>div
        height: 100%
        display: flex
    tbody:nth-child(2) tr.empty
        display: table-row
    button
        width: 100%
        height: 100%
        margin: 0
        background-color: #ddd
        color: #555
        font-family: FontAwesome
        border: 0
        border-left: 0.02*$u solid #fff
        border-right: 0.02*$u solid #bbb
        transition: background-color $t
        &:hover
            background-color: #ccc
        &:active
            background-color: #555
            color: #ddd
            border-left-color: #bbb
            border-right-color: #fff

/* ----- LOADER ----- */
#loader
    position: fixed
    top: $u+$h
    right: 0
    width: calc(100% - 3*$u)
    height: calc(100% - $u - $h)
    background-color: #ddd
    box-shadow: inset 0 0 0.25*$u #0005
    opacity: 0
    pointer-events: none
    transition: opacity $t
    z-index: 2

/* ----- BOTTOM TABS ----- */
#tabs
    position: fixed
    right: 0
    bottom: 0
    width: calc(100% - 3*$u)
    height: 0.75*$u
    display: flex
    padding: 0.1*$u
    justify-content: center
    transition: opacity $t 2*$t
    z-index: 2
    &::before
        content: ''
        position: fixed
        right: 0
        bottom: 0
        width: calc(100% - 3*$u)
        height: calc(100% - $u)
        background-color: #ddd
        z-index: -1
        border-radius: 0.25*$u 0 0 0
        box-shadow: inset 0 0 0.25*$u #0005
        transition: opacity $t $t
        mask-image: linear-gradient(to bottom, black $h, transparent 0.35*$u+$h, transparent calc(100% - $u), #000E calc(100% - 0.65*$u))
        -webkit-mask-image: linear-gradient(to bottom, black $h, transparent 0.35*$u+$h, transparent calc(100% - $u), #000E calc(100% - 0.65*$u))
        pointer-events: none

    button
        border-radius: 0.55*$u
        min-width: 0.55*$u
        border: 0.01*$u solid #555
        background-color: #6660
        color: #555
        transition: background-color $t, color $t
        &+button
            margin-left: 0.1*$u
        &.more
            width: 1.1*$u
            &::after
                content: '\f141'
                font-family: FontAwesome
                font-size: 0.25*$u
                color: #555
        &:hover
            background-color: #ccc
        &.on
            background-color: #666F
            color: #fff
    div
        border-radius: 0.55*$u
        border: 0.01*$u solid #555
        color: #555
        line-height: 0.55*$u
        width: 1.65*$u
        text-align: center
        padding-right: $u
    button + div
        position: relative
        margin-left: 0.4*$u
        &::before
            content: ''
            position: absolute
            left: -0.2*$u
            top: 0
            height: 0.55*$u
            border-left: 0.01*$u solid #555
        &::after
            content: 'per page'
            position: absolute
            left: 0.55*$u
            top: -0.02*$u
            width: 1.1*$u
            height: calc(100% + 0.01*$u)
            border: 0.01*$u solid #555
            background-color: #ccc
            border-radius: 0 0.55*$u 0.55*$u 0

/* ----- COMPONENTS ----- */
.card
    position: relative
    display: grid
    grid-template-columns: auto 5*$u
    grid-template-rows: auto auto 0.5*$u
    margin: 0.25*$u
    width: calc(100% - 0.5*$u)
    border: 0.01*$u solid #555
    border-radius: 0.1*$u
    overflow: hidden
    background-color: #aaa
    outline: 0 solid #e00
    transition: margin $t, outline $t
    &[stage="1"]
        margin-left: 100%
    &[stage="2"]
        height: 0
        margin: 0
        margin-left: 100%
    /* ORDER */
    &>div:nth-child(1)
        display: grid
        grid-template-columns: auto auto
        grid-template-rows: 0.75*$u auto auto
        grid-area: 1 / 1
        background-color: #ddd
        box-shadow: 0 0 0.1*$u #333
        border-radius: 0 0 0.1*$u 0
        overflow: hidden
        z-index: 1
        h1, h2
            margin: 0
            padding: 0 0.2*$u
            font-size: 0.25*$u
            line-height: 0.75*$u
            white-space: nowrap
        h1
            grid-area: 1 / 1
        h2
            grid-area: 1 / 2
            text-align: right
        &>div
            position: relative
            grid-area: 2 / 1 / span 1 / span 2
            overflow: auto
            padding: 0 0.2*$u 0.1*$u 0.2*$u
            mask-image: linear-gradient(to bottom, black calc(100% - 0.1*$u), transparent 100%)
            -webkit-mask-image: linear-gradient(to bottom, black calc(100% - 0.1*$u), transparent 100%)
        p
            grid-area: 3 / 1 / span 1 / span 2
            text-align: center
            padding: 0.1*$u
            margin: 0.1*$u
            &[contenteditable]:empty::before
                content: 'Enter Description Here'
                opacity: 0.5
    /* CUSTOMER */
    &>div:nth-child(2)
        display: grid
        grid-template-columns: auto
        grid-template-rows: 0.75*$u auto 0.5*$u 0.5*$u
        grid-area: 1 / 2
        z-index: 0
        h1, select
            grid-area: 1 / 1
            margin: 0
            padding: 0 0.2*$u
            font-size: 0.25*$u
            line-height: 0.75*$u
            white-space: nowrap
        select
            border: 0
            background: none
        p
            grid-area: 2 / 1
            padding: 0.1*$u
        a
            padding: 0 0.1*$u
            &::before, &::after
                display: inline-block
                font-family: 'FontAwesome'
                width: 0.5*$u
                text-align: center
            &.fb
                grid-area: 3 / 1
                &::before
                    content: '\f09a'
            &.cn
                grid-area: 3 / 1
                text-align: right
                &::after
                    content: '\f095'
            &.em
                grid-area: 4 / 1
                text-align: right
                &::after
                    content: '\f0e0'
    /** STATUS */
    &>div:nth-child(3)
        display: flex
        flex-direction: column
        max-height: 0
        grid-area: 2 / 1 / span 1 / span 2
        background-color: #555
        overflow: hidden
        transition: max-height $t
        &>div
            position: relative
            display: grid
            grid-template-columns: 1.5*$u auto auto
            grid-template-rows: 0.5*$u auto
            &::before
                content: ''
                position: absolute
                left: 0.24*$u
                top: 0
                height: 100%
                border-left: 0.02*$u solid #333
                z-index: 0
            .date
                grid-area: 1 / 2
                padding: 0.15*$u
                color: #aaa
            .employee
                grid-area: 1 / 3
                text-align: right
                padding: 0.15*$u
                color: #aaa
            p
                grid-area: 2 / 1 / span 1 / span 3
                margin: 0
                padding: 0.15*$u
                color: #fff
                margin-left: 0.5*$u
            &:last-child
                display: flex
                flex-direction: column
                padding-left: 0.25*$u
                &>div
                    opacity: 0.5
                    transition: opacity $t
                    &:hover
                        opacity: 1
                &::before
                    border-left-style: dashed
    /* INFO */
    &>div:nth-child(4)
        position: relative
        display: flex
        grid-area: 3 / 1 / span 1 / span 2
        background-color: #555
        z-index: 0
        &::before
            content: ''
            position: absolute
            left: 0.24*$u
            top: 0
            height: 0.14*$u
            border-left: 0.02*$u solid #333
            mask-image: linear-gradient(to bottom, black 0, transparent 100%)
            -webkit-mask-image: linear-gradient(to bottom, black 0, transparent 100%)
            opacity: 0
            transition: opacity $t
        div
            grid-area: 1 / 1
        p, h1
            margin: 0
            padding: 0 0.2*$u
            font-size: 0.25*$u
            line-height: 0.5*$u
            white-space: nowrap
            color: #fff
            flex-grow: 1
        h1
            text-align: right
        button
            border: 0
            background: none
            color: #fff
            display: flex
            flex-direction: column
            justify-content: center
            border-left: 0.01*$u solid #777
            border-right: 0.01*$u solid #333
            &:active
                background-color: #333
    /* STATE COLOR */
    .state
        position: relative
        cursor: pointer
        width: 0.2*$u
        height: 0.2*$u
        border-radius: 50%
        border: 0.01*$u solid #333
        margin: 0.15*$u
        z-index: 1
        &::before
            padding-left: 0.25*$u
            color: #fff
        &::after
            content: ''
            position: absolute
            left: -0.15*$u
            top: -0.15*$u
            width: 1.5*$u
            height: 0.5*$u
        &:not([data])
            background-color: #555
        &[data="0"]
            background-color: #0000FF
            &::before
                content: 'waiting'
        &[data="1"]
            background-color: #FFFF67
            &::before
                content: 'processing'
        &[data="2"]
            background-color: #75FCFD
            &::before
                content: 'done'
        &[data="3"]
            background-color: #75FC4C
            &::before
                content: 'finished'
        &[data="4"]
            background-color: #F19937
            &::before
                content: 'incomplete'
        &[data="5"]
            background-color: #FF0000
            &::before
                content: 'canceled'
        &[data="6"]
            background-color: #FF00FF
            &::before
                content: 'refunded'
        &[data="7"]
            background-color: #8EFA00
            &::before
                content: 'paid'
    &:not(.edit)
        .edit
            display: none
    &.edit
        outline-width: 0.04*$u
        .noedit
            display: none
    &[data].order
        &>div:nth-child(4)::before
            opacity: 1
                


/* ----- LOGIN/SIGNUP ----- */
#login
    position: fixed
    left: calc(50% - 37.5vmin + $u)
    bottom: $u
    width: calc(75vh - 2*$u)
    height: calc(75% - 2*$u)
    background-color: #ddd
    border-radius: 0.25*$u
    box-shadow: inset 0 0 0.25*$u #0005
    display: grid
    grid-template-columns: auto
    grid-template-rows: auto 0.5*$u
    pointer-events: none
    opacity: 0
    &>div:not(:last-child)
        grid-area: 1 / 1
        display: flex
        flex-direction: column
        opacity: 0
        transition: opacity $t
        pointer-events: none
        overflow: auto
        padding: 0.2*$u 0
        mask-image: linear-gradient(to bottom, transparent 0, black 0.2*$u, black calc(100% - 0.2*$u), transparent 100%)
        -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 0.2*$u, black calc(100% - 0.2*$u), transparent 100%)
        &.on
            opacity: 1
        div
            flex-direction: column
        h1
            margin: 0
            line-height: 0.5*$u
            font-size: 0.35*$u
            color: #333
            icon
                display: inline-block
                width: $u
                text-align: center
        input
            margin: 0 0.2*$u
            font-size: 0.25*$u
            padding: 0.05*$u
            border-radius: 0.1*$u
            background-color: #fff
            border: 0.01*$u solid #555
        button
            margin: 0.2*$u
            font-size: 0.25*$u
            padding: 0.1*$u
            border-radius: 0.1*$u
            background-color: #333
            color: #fff
            &:active
                background: #222
                &::after
                    color: #aaa
            &:focus
                background: #ddd
                color: #333
    &>div:last-child
        grid-area: 2 / 1
        display: flex
        border-radius: 0 0 0.25*$u 0.25*$u
        button
            background-color: #555
            box-shadow: inset 0 0 0.25*$u #0005
            font-size: 0.25*$u
            font-weight: bold
            border: 0
            flex-grow: 1
            color: #fff
            height: 100%
            transition: background-color $t, box-shadow $t, color $t
            &+button
                border-left: 0.01*$u solid #333
            &:hover
                background-color: #555d
            &:active
                background-color: #333
            &:first-child
                border-radius: 0 0 0 0.25*$u
            &:last-child
                border-radius: 0 0 0.25*$u 0
            icon
                display: inline-block
                width: 0.5*$u
                text-align: center
            &.on
                background: none
                box-shadow: inset 0 0 0 #0005
                color: #333
            
/* POPUP */
#popup
    position: fixed
    right: 0.2*$u
    bottom: 0.2*$u
    width: 6*$u
    max-width: calc(100% - 0.4*$u)
    z-index: 3
    &>div
        overflow: visible
        width: 100%
        max-height: 0
        margin-top: 0
        transition: max-height 2*$t ease, margin $t ease
        &[step="0"]
            max-height: 100vh
            margin-top: 0.2*$u
        &[step="1"]
            margin-left: calc(100% + 0.3*$u)
        &>div
            position: relative
            border: 0.02*$u solid #333
            display: flex
            flex-wrap: wrap
            h1, p
                flex-grow: 1
                width: 100%
            h1
                margin: 0
                padding: 0.2*$u
                background-color: #444
                font-size: 0.3*$u
                button
                    float: right
                    width: 0.7*$u
                    height: 0.7*$u
                    margin: -0.2*$u
            p
                margin: 0
                padding: 0.2*$u
                background-color: #ddd
                color: #333
                max-height: 200px
                overflow: auto
            button
                flex-grow: 1
                border: 0
                background-color: #333
                height: 0.3*$u
                color: #fff
                border-left: 0.02*$u solid #555
                border-right: 0.02*$u solid #111
                &:active
                    background-color: #222
                    border-left-color: #111
                    border-right-color: #555
            textarea
                display: block
                width: 100%
            &::before
                content: ''
                position: absolute
                left: -0.05*$u
                top: -0.05*$u
                width: calc(100% + 0.08*$u)
                height: calc(100% + 0.08*$u)
                border: 0.02*$u solid #333
                /*background-color: #ddd*/
                z-index: -1
            &.error
                border-color: #a33
                h1
                    background-color: #a33
                button
                    background-color: #a33
                    border-left-color: #c55
                    border-right-color: #811
                    &:active
                        background-color: #922
                        border-left-color: #811
                        border-right-color: #c55
                &::before
                    border-color: #a33
            &.warning
                border-color: #a63
                h1
                    background-color: #a63
                button
                    background-color: #a63
                    border-left-color: #c85
                    border-right-color: #841
                &::before
                    border-color: #a63
/* ----- BEFORE LOADED ----- */
body.load
    overflow: hidden
    &>div:not(#popup), &::after
        opacity: 0
        pointer-events: none
    #logo
        width: 100%
        height: 100%
body:not(.load).loading
    #loader
        opacity: 1
        pointer-events: auto
body.login
    #logo
        left: calc(50% - 50vmin)
        width: 100vmin
        height: 25%
    #login
        opacity: 1 !important
        pointer-events: auto !important
        &>div:not(:last-child).on
            pointer-events: auto

@media (orientation: portrait)
    #login
        left: $u
        bottom: calc(37.5% - 50vw + $u)
        width: calc(100% - 2*$u)
        height: calc(100vw - 2*$u)

@media screen and (max-width: 475px)
    #login
        grid-template-rows: auto $u
@media screen and (max-width: 600px)
    @media (orientation: portrait)
        #login
            left: 0.25*$u
            bottom: calc(37.5% - 50vw + 0.25*$u)
            width: calc(100% - 0.5*$u)
            height: calc(100vw - 0.5*$u)